language: cpp
compiler:
  - clang
notifications:
  email: false
env:
  matrix:
    # - JULIAVERSION="juliareleases" Require Julia 0.3 or greater.
    - JULIAVERSION="julianightlies"
before_install:
  - sudo add-apt-repository ppa:staticfloat/julia-deps -y
  - sudo add-apt-repository ppa:staticfloat/${JULIAVERSION} -y
  - sudo apt-get update -qq -y
  - sudo apt-get install libpcre3-dev julia -y
script:
  - julia -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("GradientBoost")'
  - julia --code-coverage test/runtests.jl
after_success:
  - julia -e 'cd(Pkg.dir("GradientBoost")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
